websockets
python-binance
numpy
scipy
pandas
redis[hiredis]
pydantic
json5
pymongo
pyzmq
python-dotenv
# unittest
mypy
pytest
fakeredis
types-requests
# Backtest
sqlalchemy
psycopg2-binary
# Jupyter
jupyterlab
mplfinance