python-binance
pyyaml
python-dotenv
pandas
numpy
hooklet
ccxt
# service
fastapi[standard]
pydantic
uvicorn
aiocache
cachetools
redis
hiredis
# Linters and formatters
pytest>=7.0.0
pytest-asyncio>=0.18.3
flake8>=6.0.0
pylint>=3.0.0
black>=23.0.0
isort>=5.12.0
mypy>=1.0.0
types-PyYAML>=6.0.12
